# Supabase
NUXT_PUBLIC_SUPABASE_URL="https://zxzigoaddoslkokbzmyc.supabase.co"
NUXT_PUBLIC_SUPABASE_KEY="sb_publishable_DkJMMAAes3NghRWCyzVBgA_IZxkVFiz"
NUXT_SUPABASE_SECRET_KEY=""

# Spotify
NUXT_PUBLIC_SPOTIFY_CLIENT_ID=1f3badc8a21f4936a3c254c8ebccbeed
NUXT_SPOTIFY_CLIENT_SECRET=
NUXT_SPOTIFY_REDIRECT_URI=https://127.0.1:3000/api/spotify/callback