# Supabase
NUXT_PUBLIC_SUPABASE_URL="https://zxzigoaddoslkokbzmyc.supabase.co"
NUXT_PUBLIC_SUPABASE_KEY="sb_publishable_DkJMMAAes3NghRWCyzVBgA_IZxkVFiz"
NUXT_SUPABASE_SECRET_KEY=""
SUPABASE_POST_AUTHOR_ID=""
