NUXT_PUBLIC_SUPABASE_URL=""
NUXT_PUBLIC_SUPABASE_KEY=""
NUXT_SUPABASE_SECRET_KEY=""
NUXT_SENTRY_PORT="3002"
NUXT_TWITCH_CLIENT_ID=""
NUXT_TWITCH_CLIENT_SECRET=""
NUXT_TWITCH_REDIRECT_URI="http://localhost:3001/api/sentry/provider-connections/twitch/callback"
NUXT_MONITOR_ORIGIN="http://localhost:3001"
NUXT_TOKEN_ENCRYPTION_KEY=""
NUXT_TOKEN_KEY_VERSION="v1"
NUXT_PRIVATE_DATABASE_URL=""
